path:hover {
  position: relative;
  stroke: #c2c7d0 !important;
  stroke-width: 0.5cm !important;
  z-index: 99 !important;
}

object {
  color-scheme: light; /*<--Add this to fix WHITE BG issue*/
}


