path:hover { 
  stroke: #c2c7d0 !important;
  fill-opacity: 0.5 !important;
}

.seat:hover {
  stroke: var(--pico-color);
  stroke-width: 1px;
}

.invalid{
  border: var(--pico-border-width) solid var(--pico-form-element-invalid-active-border-color);
  background-image: var(--pico-icon-invalid);
  background-position: center right .75rem;
}

object {
  color-scheme: light; /*<--Add this to fix WHITE BG issue*/
}


