path:hover { 
  stroke: #c2c7d0 !important;
  fill-opacity: 0.5 !important;
}

.seat:hover {
  stroke: var(--pico-color);
  stroke-width: 1px;
}

.invalid{
  border: var(--pico-border-width) solid var(--pico-form-element-invalid-active-border-color);
  background-image: var(--pico-icon-invalid);
  background-position: center right .75rem;
}

object {
  color-scheme: light; /*<--Add this to fix WHITE BG issue*/
}

.containerslide {
  position: relative;
  width: 100%;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: var(--pico-background-color);
  width: 0;    
  height: 100%;
  transition: .5s ease;
  overflow:auto;
  z-index:2;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.zoom{
  color:gray !important;
  background-color:gray !important;
  position:absolute;
}

